/* general rules  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    height: calc(100vh - 80px);
}

#wrapper::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color:rgba(90,90,90,255) ;
}

a:hover {
    color: white;
}

h3 {
    color: white;
}

/* side bar  */
aside {
    float: left;
    width: 200px;
    height: 100%;
    background-color: rgba(0,0,0,255);
    color: rgba(90,90,90,255);
    font-size: 14px;
}


aside #logo img {
    width: 150px;
    padding-top: 20px;
}

#actions {
    margin: 20px 0;
}

#actions a {
    display: block;
    margin: 10px 0;
}

 

#actions a.border_left {
    border-left: 5px solid lawngreen;
}

#actions a img {
    width: 25px;
    line-height: 25px;
    vertical-align: middle;
}

#actions a span {
    line-height: 25px;
    vertical-align: middle;
}

    /* playlist  */
aside #playlist h4 {
    margin-bottom: 10px;
    color: white;
}

aside #playlist .fas {
    font-size: 50px;
    line-height: 50px;
    vertical-align: middle;
    color: rgba(90,90,90,255);
    margin: 0;
}


aside #playlist span {
    line-height: 50px;
    vertical-align: middle;
}

aside #playlist nav ul {
    list-style-type: none;
}

aside #playlist nav ul li {
    margin: 10px 0;
}

aside #playlist nav ul li a {
    color: rgba(90,90,90,255);
}

aside #playlist nav ul li a:hover {
    color: white;
}

/* main part  */
main {
    float: left;
    width: calc(100% - 200px);
    height: 100%;
    background-color: rgba(20,25,34,255);
}


    /* top  */
main #top {
    height: 60px;
    background-color:rgba(8,11,18,255);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}

main #top a {
    color:white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 5px 35px;
    transition: all;
}

main #top a:hover {
    font-size: 20px;
}


 /* main content  */
#main_content {
   height: calc(100% - 60px);
   overflow-y: auto;
}

    /*nav menu  */
 main nav ul {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
 }

 main nav ul li {
     list-style-type: none;
     padding: 15px;
 }

 main nav ul li a {
     color: rgba(116,119,123,255);
 }

 main nav ul li a:hover {
     color: white;
 }


    /* playlists  */
 .container {
     padding-left: 10px;
     margin: 30px 0;
 }

 .container h1 {
     margin-bottom: 15px;
     color: white;
 }

 .container .album_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
 }

 .container .album_container .album {
     width: calc(100% /6 - 35px);
     margin-right: 35px;
     text-align: center;
    }
    
 /* lg version  */
 @media all and (min-width: 879px) and (max-width: 1440px) {

    .container .album_container .album {
        width: calc(100% /6 - 35px);
    }

  }


  /* md version  */
  @media all and (min-width: 640px) and (max-width: 878px) {

    .container .album_container .album {
        width: calc(100% /4 - 35px);
    }

  }

  /* s version  */
  @media all and (min-width:553px ) and (max-width: 639px) {

    .container .album_container .album {
        width: calc(100% /2 - 35px);
    }

  }

  /* xs version  */
  @media all and  (max-width: 552px) {

    .container .album_container .album {
        width: calc(100% /2 - 35px);
    }

  }


 .container .album_container .playlist_img {
     width: 100%;
     position: relative;
 }

 
 .container .album_container .playlist_img .overlay {
     display: none;
 }

 .container .overlay .far {
     color: white;
     font-size: 60px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50% , -50%);
 }

 .container .album_container .album:hover .overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
 }

 .container .album_container .playlist_img:hover .overlay.circle {
     border-radius: 50%;
 } 


 .container .playlist_img img {
     width: 100%;
     height: 100%;
 }

 .container .playlist_img .circle {
     border-radius: 50%;
 }

 .container .album_container h3 {
     padding: 10px 0;
 }

 .container span {
     color: rgba(116,118,123,255);
 }



/* footer  */
footer {
    height: 80px;
    background-color: rgba(40,40,40,255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

    /* left part   */
footer #left #playing_song {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

footer #left #song_img img{
    width: 50px;
    height: 50px;
}

footer #left #info_song {
    margin-left: 10px;
}

footer #left #info_song a {
    color: rgba(116,118,123,255);
}

footer #left #info_song a:hover {
    color: white;
    text-decoration: underline;
}

footer #left .icon .far {
    color: rgba(107,107,107,255);
    margin: 10px;
    font-size: 20px;
}

footer #left .icon .far:hover {
    cursor: pointer;
    color: white;
}



/* center part  */
footer #center {
    width: 50%;
    color: white;
}

/* first block  */
footer #center #up .far.zoom {
    font-size: 25px;
    margin:0 30px;
    transition: all;
}

footer #center #up .far.zoom:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* second block  */
footer #center #down {
    width: 100%;
    height: 20px;
    margin: 5px 0;
}

footer #center #down .grey {
    width: 100%;
}

footer #center #down .grey .light_grey {
    width: 20%;
}

/* right part  */
footer #right .grey {
    width: 150px;
}

footer #right .grey .light_grey {
    width: 40px;
}


    /* footer general rules  */
#left , #right , #center #up , #center #down{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .grey {
    height: 5px;
    background-color: rgba(83,83,83,255);
    border-radius: 5px;
    margin: 0 15px;
}

footer .grey:hover {
    cursor: pointer;
}

footer .light_grey {
    border-radius: 5px;
    height: 5px;
    background-color: rgba(173,173,173,255);
    position: relative;
    transition: all;
}

footer .grey:hover .light_grey {
    background-color: yellowgreen;
}

.fas , .far {
   margin: 0 10px;
   font-size: 15px;
   color: white;
}

footer .grey .light_grey .fas.white {
    position: absolute;
    right: -10px;
    top: -5px;
    display: none;
}

footer .grey:hover .fas.white {
    display: block;
}