/* general rules  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    height: calc(100vh - 80px);
}

#wrapper::after {
    content: "";
    display: table;
    clear: both;
}

/* side bar  */
aside {
    float: left;
    width: 150px;
    height: 100%;
    background-color: rgba(0,0,0,255);
}


/* main part  */
main {
    float: left;
    width: calc(100% - 150px);
    height: 100%;
    background-color: rgba(20,25,34,255);
}

main #top {
    height: 60px;
    background-color:rgba(8,11,18,255);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}

main #top a {
    text-decoration: none;
    color:white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 5px 35px;
    transition: all;
}

main #top a:hover {
    font-size: 20px;
}


/* footer  */
footer {
    height: 80px;
    background-color: rgba(40,40,40,255);
}